<header>
    <div class="menu logo-nav">
      <a href="index.html" class="logo">Encebollados</a>
      <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
      <nav class="navigation">
        <ul>
          <li><a routerLink="">Nosotros</a></li>
          <li><a routerLink="/dashboard/productos2">Productos</a></li>
          <li><a routerLink="" >Contacto</a></li>
          <li class="search-icon">
            <input type="search" placeholder="Search">
            <label class="icon">
              <span class="fas fa-search"></span>
            </label>
          </li>
          <li class="car" (click)="openModal(modalContent)"><a >
            <svg class="bi bi-cart3" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
            <span class="count">{{ count }}</span>
          </a></li>
        </ul>
      </nav>
    </div>
  </header>
  <br>

  <ng-template #modalContent let-modal>
    <div class="cart-container">
      <div class="cart-title">Carrito de compras</div>
      <div class="product-list">
        <div class="product-item" *ngFor="let product of products">
          <img src="{{product.imageUrl}}" width="50">
          {{ product.name }} - {{ product.price }}
          <button class="delete-button" (click)="removeProduct(product)">Eliminar</button>
        </div>
      </div>
      <div class="total">Total a pagar: {{ total }}</div>
      <a routerLink="/dashboard/carrito"><button class="save-button">Guardar</button></a>
    </div>
    <div class="modal-footer">
      <button type="button" class="close-button" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>



  
