<link href='https://fonts.googleapis.com/css?family=Material+Icons' rel='stylesheet'>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/productos" >Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/contacto" >Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"(click)="openModal(modalContent)" ><i class="material-icons">shopping_cart </i>
            <span class="count">{{ count }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>



  <ng-template #modalContent let-modal>
    <div class="cart-container">
      <div class="cart-title">Carrito de compras</div>
      <div class="product-list">
        <div class="product-item" *ngFor="let product of products">
          <img src="{{product.imageUrl}}" width="50">
          {{ product.name }} - {{ product.price }}
          <button class="delete-button" (click)="removeProduct(product)">Eliminar</button>
        </div>
      </div>
      <a routerLink="/dashboard/carrito"><button class="save-button" (click)="modal.close('Close click')">Guardar</button></a>
    </div>
    <div class="modal-footer">
      <button type="button" class="close-button" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>




  
