
.count {
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
  }

  .nav-link {
    cursor: pointer ;
   
 }
 .nav-link:hover {
  color: rgb(66, 146, 150);
 
 }
 .text-danger {
  cursor: pointer;
 }

