<link href='https://fonts.googleapis.com/css?family=Material+Icons' rel='stylesheet'>
<br>
<app-administracion></app-administracion>
<br>
<div class="form-container">
  <form (ngSubmit)="addProduct()" [formGroup]="productForm">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">

    <label for="price">Price:</label>
    <input type="number" id="price" formControlName="price">

    <label for="image">Image:</label>
    <input type="file" id="image" (change)="onImageChange($event)" accept="image/*">

    <button class="buttonproduct" type="submit" [disabled]="!productForm.valid">Add Product</button>
  </form>
</div>
<br>

<ng-template #modalContent let-modal>
  <div *ngIf="selectedProduct" class="form-container">  <!-- Muestra el formulario solo si selectedProduct tiene un valor -->
    <form  [formGroup]="productUpdateForm">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" [(ngModel)]="selectedProduct.name">
  
      <label for="price">Price:</label>
      <input type="number" id="price" formControlName="price" [(ngModel)]="selectedProduct.price">
  
      <label for="image">Image:</label>
      <input type="file" id="image" (change)="onImageChange($event)" accept="image/*">
  
      <button class="buttonproduct" type="submit" (click)="updateProduct()">Actualizar producto</button>
    </form>
  </div>
</ng-template>

 
<table mat-table [dataSource]="products" class="mat-elevation-z8">

  <!-- Nombre Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

 <!-- Imagen Column -->
 <ng-container matColumnDef="imageUrl" class="mat-elevation-z8">
  <th mat-header-cell *matHeaderCellDef > Imagen </th>
  <td mat-cell *matCellDef="let element" > <img [src]="element.imageUrl" alt="" style="width: 80px; height: 80px;"> </td>
</ng-container>

  <!-- Precio Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> ${{element.price}} </td>
  </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" style="text-align: right;">
        <a class="pointer" style="color: darkolivegreen;">
          <mat-icon (click)="openUpdateModal(modalContent, element)" >edit</mat-icon>
        </a>
        <a class="pointer" style="color: brown;">
          <mat-icon (click)="deleteProduct(element.id)">delete</mat-icon>
        </a>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>








