<body>
    <header>
        <div class="logo">
            <img src="../assets/logouleam.png">
        </div>
        <nav>
            <a href="ULEAM.html"><button onclick=""><h3>SALIR</h3></button></a>
            
        </nav>
    </header>
    <body background="bg1.jpg">
    <div class="cuerpo">
       

        <div style="display: block; width: 50%; margin: auto;"></div><h1>
            <u><strong>Bienvenido/a Menú </strong></u> 
        </h1>

        <div class="menu">
            <a routerLink="/perfiles" ><button onclick=""><h2>PERFILES</h2></button></a>
            <a routerLink="/galeria" ><button onclick=""><h2>GALERÍA</h2></button></a>
            <a routerLink="/promociones"><button onclick=""><h2>PROMOCIONES</h2></button></a>
        </div> 
    </div><br><br><br><br><br><br>
    <footer>
        <div class="logo2">
            <img src="../assets/logouleam.png">
        </div>
        <nav class="navv">
            <a href="#"><pre>ULEAM @ Copyright 2022, Todos los derechos reservados - Universidad Laica Eloy Alfaro de Manabi</pre></a>
            <a href="#"><pre>Dirección: Av. Circunvalación - Vía a San Mateo</pre></a>
            <a href="#"><pre>Manta - Manabí - Ecuador</pre></a>
        </nav>
    </footer>
</body>