<body>
<div class="slider">
  <ul>
    <li><img src="../assets/encelide1.webp" alt="..."></li>
    <li><img src="../assets/encelide2.jpg" alt="..."></li>
    <li><img src="../assets/encelide3.jpg" alt="..."></li>
  </ul>
</div>


  <div class="container-index">

    <div class="container-circulos">
      <div class="container-imagen">
        <img src="../assets/ceviches.jpg" class="circulo">
        <h2>Ceviches</h2>
      </div>
      <div class="container-imagen">
        <img src="../assets/encebollado1.jpg" class="circulo">
        <h2>Encebollados</h2>
      </div>
      <div class="container-imagen">
        <img src="../assets/almuerzos.jpg" class="circulo">
        <h2>Almuerzos</h2>
      </div>
    </div>

    <div class="ver-todo"><a class="button" href="productos.html">Ver todos</a></div>
    
    <div class="contenedor-columna">
      <div class="columna1">
        <h2>SOBRE DELICIAS DEL MARISCO </h2>
        <p>En PET SHOP nuestro equipo trabaja constantemente con energía y entusiasmo para nuestros clientes y sus mascotas. Nos encanta lo que hacemos y eso se refleja no solo en nuestros servicios, sino también en la forma en que construimos relaciones con nuestros clientes.</p>
      </div>
      <div class="columna2">
        <img src="assets/index.png">
      </div>
    </div>

  </div>


  <footer class="footer-section">
    <div class="copyright-area">
        <div class="container-footer">
            <div class="row-footer">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2020, todos los derechos reservados <a href="index.html">PETSHOP</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="nosotros.html">Nosotros</a></li>
                            <li><a href="productos.html">Productos</a></li>
                            <li><a href="contacto.html">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>   
  </body>