.body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5f5f5;
  height: 100%;
}
.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.ancho {
  width: 80%;
}

.fadeInOut {
  transition: all .5s ease;
}
.fadeInOut.ng-enter {
  opacity: 0;
}
.fadeInOut.ng-enter-active {
  opacity: 1;
}
.fadeInOut.ng-leave {
  opacity: 1;
}
.fadeInOut.ng-leave-active {
  opacity: 0;
}
form {
  width: 500px;
  margin: auto;
  
}

.button-container {
  width: 170px;
  margin: auto;

}

.btn-sign-in {
  width: 100px;
  margin: auto;
  margin-left: 30px;
}

