<link href='https://fonts.googleapis.com/css?family=Material+Icons' rel='stylesheet'>
<div class="container-carrito">           
  <h2>Realizar Compra</h2>
  <form id="procesar-pago" [formGroup]="form" (ngSubmit)="procesarCompra()" >
      <div class="contenido titulo">
          <label for="cliente" class="">Cliente :</label>
          <input  formControlName="cliente" type="text" class="form-control" id="cliente" name="cliente" placeholder="Ingrese su nombre"  required>
      </div>
      <div class="contenido titulo">
          <label for="email" class="">Correo :</label>
          <input  formControlName="correo" type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo" required>
      </div>
      <div class="contenido titulo">
        <label for="calle_1" class="">Calle 1</label>
        <input  formControlName="calle_1" type="text" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo" required>
    </div>
    <div class="contenido titulo">
      <label for="calle_2" class="">Calle Secundaria (referencia)</label>
      <input  formControlName="calle_2" type="text" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo" required>
  </div>
  <div class="contenido titulo">
    <label for="ciudad" class="">Calle 1</label>
    <input  formControlName="ciudad" type="text" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo" required>
</div>
      <div id="carrito" class="contenido">
        <table class="tabla" id="lista-compra">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td class="product-cell">
                <img src="{{product.imageUrl}}" width="50">
              </td>
              <td class="product-cell">
                {{product.name}}
              </td>
              <td class="product-cell">
                ${{product.price}}
              </td>
              <td class="product-cell">
                <a class="pointer" >
                  <i class="material-icons" (click)="removeProduct(product)">clear</i>
                </a>           
              </td>
            </tr>
          </tbody>
          <tr>
            <th colspan="3" scope="col" class="">TOTAL : ${{total}}</th>
            <th scope="col">
              <input type="text" id="total" name="monto_total" readonly>
            </th>
          </tr>
        </table>
      </div>
      <div class="" id="loaders">
          <img id="cargando" src="" width="220">
      </div>
      <div class="botones-envio">
              <a href="" class="button" id="volver">Seguir comprando</a>
              <input type="submit"  class="button" id="procesar-compra" value="Realizar compra">
              <input type="submit" (click)="openModal()" class="button" id="procesar-compra" value="Abrir Mapa">
      </div>
  </form>
</div>
<ng-template #mapContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal Title</h4>   
<google-map height="300px" width="400px" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)">
  <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="markerOptions"></map-marker>
</google-map>
  </div>
  <div class="modal-body">
    <div id="map"></div>
  </div>
</ng-template>




<ng-template #ModalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Compra exitosa</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¡Gracias por su compra!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cerrar</button>
  </div>
</ng-template>
