<body background="bg1.jpg">

    <h1>BIENVENIDOS AL SOFTWARE DE SEGUIMIENTO A GRADUADOS</h1>
    <h2>MISIÓN Y VISIÓN DE LA ULEAM</h2>
    <div class="logo">
        <div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none has-background" style="background-color:#3f6464;">
            <p></p>
            <h1>MISIÓN</h1>
            <h2><p style="color:#f8f8f8";>
                Proporcionar formación científica, tecnológica y humanista a los futuros profesionales en las ciencias informáticas, 
                enmarcadas en la ética y la moral; con el fin de garantizar la eficiencia y eficacia en la prestación de sus servicios y la producción de bienes a la sociedad.
            </p></h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Uleamnuevo.png" alt="ima">
            <p></p>
            </div>
            <p></p>
            <div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none has-background" style="background-color:#365c5c;">
                <p></p>
                <h1>VISIÓN</h1>
             <h2><p style="color:#f8f8f8";>
                Unidad Académica de educación superior líder en el ámbito informáticos, con criterio creativo e innovador de reconocimiento local y nacional; 
                en la formación integral de profesionales generadores de bienes y servicios.
                </p></h2>
                <img src="logouleam.png">
                <p></p>
                </div>

    </div>
    <footer>
        <div class="logo2">
            <img src="logouleam.png">
        </div>
        <nav class="navv">
            <pre>ULEAM @ Copyright 2022, Todos los derechos reservados - Universidad Laica Eloy Alfaro de Manabí</pre>
            <pre>>Dirección: Av. Circunvalación - Vía a San Mateo</pre>
            <pre>Manta - Manabí - Ecuador</pre>
        </nav>
    </footer>
</body>
