<header class="header" id="inicio">
    <div class="contenedor head">
        <h1 class="titulo">QUIENES SOMOS</h1>
    </div>
</header>
<main>
    <section class="services contenedor" id="servicio">
        <div class="about-us-header">Somos una empresa que nace con el fin de deleitar el paladar de todos nuestros clientes.</div>
        <div class="about-us-description">Aquí todo se hace con pasión y voluntad hemos logrado involucrar a quienes nos visitan 
            en un ambiente de confianza, rodeados de emociones y
             sabores desde el primer momento que ingresan a nuestro establecimiento.</div>
        <div class="contenedor-servicio">
            <img src="../assets/logito.png">
            <img src="../assets/boencebollado.jpg">
            <div class="checklist-servicio">
                <div class="service">
                    <h1 class="n-service"><span class="number">1</span>MISION</h1>
                <h3> Ofrecer lo más tradicional y selecto de la comida de mar satisfaciendo el paladar más exigente, 
                        generando un camino sólido de identidad nacional.</h3>
                </div>
                <div class="service">
                    <h1 class="n-service"><span class="number">2</span>VISION</h1>
                    <h3><p> Ser la mejor alternativa de restaurantes de cevicheria especializada en comida de mar cumpliendo con todos
                         los estándares nacionales e internacionales de calidad y servicio;
                         logrando la inclusión de nuestros platos en los mejores eventos.</p></h3>
                </div>
            </div>
        </div>
    </section>
</main>