<section id="portfolio">
    <h3 class="titulo-seccion">A cual seccion desea ir</h3>
    <div class="fila">
        <div class="proyecto">
            <div class="overlay"></div>
            <a routerLink="./dashboard"> <img src="../assets/logito.png" alt="" ></a>
            <div class="info">
                <h4>Pagina de clientes</h4>
                <p>Pagina normal donde hacer pedidos como cliente</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <a routerLink="/dashboard/administracion" ><img src="../assets/empleado.png" alt="" ></a>
            <div class="info">
                <h4>Pagina administracion</h4>
                <p>Pagina para la administracion del local pedidos y productos</p>
            </div>
        </div>
    </div>
</section>