<body>
    <form class="formulario" [formGroup]="myForm" (ngSubmit)="enviarform()">
       
        <u><h1>Registrate</h1></u>
        <div class="contenedor">
        
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input formControlName="name" type="text" placeholder="Nombre Completo">
            
            </div>
            
            <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input formControlName="email" type="text" placeholder="Correo Electronico">
            
            </div>
            <div class="input-contenedor" [ngStyle]="{'display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
                <p>Fecha de ingreso</p>
                <i class="fas fa-envelope icon"></i>
                <input formControlName="date1" type="date">
            </div>
            <div class="input-contenedor" [ngStyle]="{'display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
                <p>Fecha de egreso</p>
                <i class="fas fa-envelope icon"></i>
                <input formControlName="date2" type="date">
            </div>
            
            <div class="input-contenedor">
           <i class="fas fa-key icon"></i>
            <input formControlName="password" type="password" placeholder="Contraseña">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                 <input formControlName="password2" type="password" placeholder="Repite la contraseña">
            </div>
            <input type="submit" value="Registrate" class="button">
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
            <p>¿Ya tienes una cuenta?<a class="link" routerLink="/login"  >Iniciar Sesion</a></p>
        </div>
       </form>
   </body>