<body>
    <header>
        <div class="logo">
            <img src="../assets/logouleam.png">
        </div>
        <nav>
            <a routerLink="/menu"><button onclick=""><h3>REGRESAR</h3></button></a>
        </nav>
    </header>
    <div class="cuerpo">
        <div style="text-align: center;"><strong><u><h2>PERFILES DE LOS EX-ESTUDIANTES DE LA ULEAM</h2></u></strong></div> 
            <hr>
            <div>
                <div style="text-align: center;"><h3><u>LUIS MENDOZA</u></h3></div>

             <div style="text-align: center;"><h4><p>Ing. en Ingeniería en sistemas.</p> <p>Seguridad informática.</p></h4></div>
            <img src="../assets/graduado1.jpg"
             width="350"
            height="400">
            </div>
            <hr>
            <div>
                <div style="text-align: center;"><h3><u>DANIELA LOOR</u></h3></div>
                <div style="text-align: center;"><h4><p>Ing. en Ingeniería Idustrial.</p> <p>Electrotécnica.</p></h4></div>
            <img src="../assets/graduado2.jpg"
            width="350"
             height="400">
            </div>
            <hr>
           <div>
            <div style="text-align: center;"><u><h3>JORGE PEREIRA</h3></u></div>
            <div style="text-align: center;"><h4><p>lcdo. Gestión de la Información Gerencial.</p> <p>Gestión de Empresas.</p></h4></div>
            <img src="../assets/graduado3.jpg"
             width="350"
            height="400">  
        </div>
        </div> 
    <nav>
    <a routerLink="/login"><button onclick=""><h3>SALIR</h3></button></a>
    </nav>
    <br><br><br><br><br>
    <footer>
        <div class="logo2">
            <img src="../assets/logouleam.png">
        </div>
        <nav class="navv">
            <a href="#"><pre>ULEAM @ Copyright 2022, Todos los derechos reservados - Universidad Laica Eloy Alfaro de Manabi</pre></a>
            <a href="#"><pre>Dirección: Av. Circunvalación - Vía a San Mateo</pre></a>
            <a href="#"><pre>Manta - Manabí - Ecuador</pre></a>
        </nav>
        </footer>
</body>