


<div class="container-carrito">           
  <h2>Realizar Compra</h2>
  <form id="procesar-pago" [formGroup]="form" >
    <div class="contenido titulo">
        <label for="cliente" class="">Cliente :</label>
        <input  formControlName="cliente" type="text" class="form-control" id="cliente" name="cliente" placeholder="Ingrese su nombre"  required>
    </div>
    <div class="contenido titulo">
        <label for="email" class="">Correo :</label>
        <input  formControlName="correo" type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo" required>
    </div>
    <div class="contenido titulo">
      <label for="calle_1" class="">Calle 1</label>
      <input  formControlName="calle_1" type="text" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo" required>
  </div>
  <div class="contenido titulo">
    <label for="calle_2" class="">Calle Secundaria (referencia)</label>
    <input  formControlName="calle_2" type="text" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo" required>
</div>
<div class="contenido titulo">
  <label for="ciudad" class="">Calle 1</label>
  <input  formControlName="ciudad" type="text" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo" required>
</div>
      <div id="carrito" class="contenido">
        <table class="tabla" id="lista-compra">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td class="product-cell">
                <img src="{{item.imageUrl}}" width="50">
              </td>
              <td class="product-cell">
                <p>{{item.name}}</p>
              </td>
              <td class="product-cell">
                <input type="number" [(ngModel)]="item.quantity" name="quantity" (change)="updatePrice(item)" formControlName="quantity">
              </td>
              <td class="product-cell">
                {{ item.price }}
              </td>
                <td class="product-cell">
                  {{ item.price * item.quantity }}
                </td>
              <td>
                <button (click)="removeFromCart(item)"></button>
              </td>
            </tr>
          </tbody>
          <tr>
            <th colspan="3" scope="col" class="">TOTAL : ${{ total }}</th>
            <th scope="col">
            </th>
          </tr>
        </table>
      </div>
      <div class="" id="loaders">
          <img id="cargando" src="" width="220">
      </div>
      <div class="botones-envio">
              <a href="" class="button" id="volver">Seguir comprando</a>
              <input type="submit"  class="button" id="procesar-compra" value="Realizar compra">
      </div>
  </form>
</div>
